* {
  box-sizing: border-box;
}
html {
}
body {
  background: #fafafa;
  font-family: Optima, 'Hiragino Sans GB', 'wenquanyi micro hei', 'MicroSoft Yahei';
  line-height: 30px;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0px;
}
::selection {
  background: #929292;
  color: #fff;
}
hr {
  border-width: 0px 0px 1px 0px;
  border-color: #cdc1c1;
  margin: 49px 0px;
  width: 61%;
}
#home {
    width: 38.2%;
    background-image: url('http://tiye.qiniudn.com/leaf.jpg');
    background-size: cover;
    background-position: left center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10%;
}
#home a {
  font-size: 16px;
  font-family: Optima, "wenquanyi micro hei";
  color: #FFFFFF;
  line-height: 2.36em;
  text-shadow: 1px 1px 4px black;
}
a {
  text-decoration: none;
}
#article {
  width: 61.8%;
  overflow: scroll;
  padding: 30px;
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.35);
}

#markdown {
    margin-bottom: 8em;
    font-size: 16px;
}

#markdown > pre {
    margin: 0.5em -30px;
    padding: 0.5em 30px;
    font-family: Menlo, monospace;
    font-size: 14px;
    background-color: rgb(36, 10, 46);
    border-width: 1px 0;
    white-space: pre-wrap;
    color: rgb(176, 182, 167);
}

#markdown > p > code {
    font-size: 14px;
    background-color: rgb(199, 78, 180);
    padding: 3px 6px;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    font-family: Monaco, courier, monospace;
}

#markdown a {
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}
#markdown a:link {
    color: rgb(62, 62, 175);
}
p {
  margin: 0px;
  padding: 16px 0px;
  line-height: 2em;
}
p img {
  max-width: 100%;
  box-shadow: 0px 0px 8px #666;
}
blockquote {
  box-shadow: 0px 0px 6px #ccc;
  padding: 0px 10px;
  color: #808080;
}
h1,
h2,
h3 {
  margin-top: 50px;
}

#note {
    font-style: italic;
    color: rgb(144, 144, 213);
    font-size: 13px;
    text-align: left;
    display: block;
}