
html
  head
    title 题叶
    link(rel='stylesheet',href='style.css')
    meta(charset='utf-8')
  body
    #about
      pre 题叶, jiyinyiyong
      pre 91 年生, 08 年起上网
      pre 社交障碍者
      pre CoffeeScript 用户
      pre 编程语言爱好者
    #list
      a(href='posts/120615-关于这个博客和柳线.html') 关于这个博客和柳线
      a(href='posts/120623-暑假前关于编程和学习的想法.html') 暑假前关于编程和学习的想法
      a(href='posts/120624-开始学-Clojure-的模块机制.html') 开始学-Clojure-的模块机制
      a(href='posts/120709-Cirru-编辑器的重写.html') Cirru-编辑器的重写
      a(href='posts/120712-用网络来沟通的构思.html') 用网络来沟通的构思
      a(href='posts/120714-Cirru-可能的遐想.html') Cirru-可能的遐想
      a(href='posts/120715-重装-Ubuntu-记录.html') 重装-Ubuntu-记录
      a(href='posts/120720-未来的灯市.html') 未来的灯市
      a(href='posts/120725-里坊-网页的嵌套.html') 里坊-网页的嵌套
      a(href='posts/120728-IP-地址记录.html') IP-地址记录
      a(href='posts/120804-VPS-Node-应用配置.html') VPS-Node-应用配置
      a(href='posts/120805-OAuth-登录-Github-及微博.html') OAuth-登录-Github-及微博
      a(href='posts/120806-参考-coffee-设想语法.html') 参考-coffee-设想语法
      a(href='posts/120811-重写聊天应用的感想.html') 重写聊天应用的感想
      a(href='posts/120821-doodle-刷新页面.html') doodle-刷新页面
      a(href='posts/120823-模式匹配和对象的想法.html') 模式匹配和对象的想法
      a(href='posts/.html')
