
html
  head
    title 题叶
    link(rel='stylesheet',href='style.css')
    meta(charset='utf-8')
  body
    #wrap
      #list
        a(href='posts/120615关于这个博客和柳线.html') 关于这个博客和柳线
        a(href='posts/120623暑假前关于编程和学习的想法.html') 暑假前关于编程和学习的想法
        a(href='posts/120624开始学-Clojure-的模块机制.html') 开始学-Clojure-的模块机制
        a(href='posts/120709Cirru-编辑器的重写.html') Cirru-编辑器的重写
        a(href='posts/.html')
      #about
        pre @jiyinyiyong
        pre @题叶
        pre 91 年生, 求学于于杭州, 宅
        pre 轻度社交障碍, 思而不学
        pre 生活都寄在网上
        pre 函数式编程语言爱好者. coffee 用户
