
html
  head
    title 题叶
    link(rel='stylesheet',href='style.css')
  body
    #wrap
      #list
        a(href='posts/about-this-blog.html') 关于这个博客和柳线
        a(href='posts/120623暑假前关于编程和学习的想法.html') 暑假前关于编程和学习的想法
      #about
        p @jiyinyiyong
        p @题叶
        p 生 91 年, 始丰溪畔. 即将大四, 宅于杭州
        p 智商不够应付学业, 轻度社交障碍
        p 生活都寄在网上, 日常刷技术论坛, 像 CNode, HN
        p 编程语言爱好者. coffee 用户. FP 崇拜
        p 想创造未来, 可是没技术
