
::-webkit-scrollbar {
  width: 4px;
  background: hsl(30,30%,90%);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  background: hsl(0,20%,70%);
}

body {
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'wenquanyi micro hei', 'microsoft yahei';
  letter-spacing: 1px;
  line-height: 30px;
}

.code_block, .inline_code, a {
  font-family: 'wenquanyi micro hei mono', 'monospace';
  background-color: hsl(20,90%,95%);
  -webkit-box-shadow: -2px 2px 10px hsl(50,40%,80%);
  -webkit-border-radius: 2px;
  padding: 0px 4px;
}

.code_block {
  width: 700px;
}

.code_block>.code_block {
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: hsl(240,80%,80%);
}

p {
  margin: 0px;
}

.title {
  color: red;
}

#disqus_thread {
  margin-top: 100px;
  width: 800px;
}

#home {
  position: fixed;;
  top: 100px;
  left: 0px;
  padding: 2px 6px;
}

#wrap {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

#list {
  margin-top: 40px;
  padding-right: 20px;
  width: 40%;
  height: 500px;
  text-align: right;
  overflow-y: scroll;
}

#about {
  padding: 100px 20px;
}

#article {
  margin-left: 80px;
}