
::-webkit-scrollbar {
  width: 4px;
  background: hsl(30,30%,90%);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  background: hsl(0,20%,70%);
}

body {
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'wenquanyi micro hei', 'microsoft yahei';
  letter-spacing: 1px;
  line-height: 28px;
  margin: 0px;
  text-shadow: 0px 0px 7px hsl(0,30%,80%);
}

.code_block, .inline_code, a {
  font-family: 'wenquanyi micro hei mono', 'monospace';
  background-color: hsl(20,90%,98%);
  box-shadow: 0px 0px 6px hsl(50,40%,80%);
  padding: 0px 4px;
}

.code_block {
  width: 800px;
  padding: 0px 14px;
  font-size: 12px;
}

.code_block > .code_block {
  margin-left: 2px;
}

a {
  text-decoration: none;
  color: hsl(240,80%,80%);
}

pre {
  margin: 0px;
}

.title {
  color: red;
}

#disqus_thread {
  margin-top: 100px;
  width: 700px;
}

#home {
  position: fixed;;
  top: 100px;
  left: 0px;
  padding: 2px 6px;
}

#wrap {
  display: box;
  box-orient: horizontal;
}

#list {
  box-sizing: border-box;
  margin-top: 60px;
  padding: 100px 20px;
  width: 40%;
  height: 400px;
  text-align: right;
  overflow-y: scroll;
}

#about {
  padding: 100px 40px;
}

#article {
  margin-left: 140px;
  padding-left: 80px;
  box-shadow: 0px 0px 42px hsl(0,90%,94%);
}

#wrap > #list > a {
  display: block;
  background: none;
  box-shadow: none;
}
