
mixin post(name, title)
  a(href="posts/#{name}.html")= title

mixin link(name, title)
  a(href="#{name}")= title

html
  head
    title 题叶
    link(rel='stylesheet', href='src/index.css')
    link(rel="icon", href="/pic/jiyinyiyong-64x64.png", type="image/png")
    meta(charset='utf-8')
  body
    #background
    #about
      a(href='http://jiyinyiyong.github.io/') 题叶
      br
      br
      a(href='https://www.google.com/ncr#q=JiyinYiyong') JiyinYiyong
    #list
      div Year 2013
      mixin post("130813-status-of-cirru", 'Cirru, 自己学写解释器')
      mixin post("130804-im-not-as-clever", '我不是很聪明的人, 但我在想')
      mixin post("130801-stylus-browserify-in-deployment", '基于 Stylus 和 Browserify 前端代码的想法')
      mixin post("130731-dream-of-coding", '关于编程世界的梦想')
      mixin link("http://www.douban.com/note/289511038/", "失去之后的感动")
      mixin link("http://www.douban.com/note/288826252/", "学编程能编帮助人摆脱孤独吗?")
      mixin post("130723-ubuntu-to-macosx", 'Ubuntu 到 Mac OS X 的头几天')
      mixin link("http://v2ex.com/t/76461", "相对于论坛, 我们是不是更需要 Wiki 和聊天室?")
      mixin post("130701-android-chrome-debug", 'Android 远程调试 Chrome')
      mixin link("http://ruby-china.org/topics/12105", "又对工具感到不满了")
      mixin link("http://www.douban.com/group/topic/40849093/", "观念的推送")
      mixin post("130620-ubuntu-reinstallation", '配置 Ubuntu 的一点笔记')
      mixin post("130618-far-from-reality", '可以下载的知识')
      mixin link("http://jiyinyiyong.logdown.com/posts/223-fear-of-restrictions", "恐惧的限制")
      mixin link("http://jiyinyiyong.logdown.com/posts/177", "页面的快速跳转")
      mixin link("https://medium.com/written-in-chinese-1/a83dc52c3016", "大四将尽的 JiyinYiong")
      mixin post("130514-threejs-second-try", "再次尝试学习 Three.js 文档")
      mixin post("130519-google-plus-as-page", "社区和使用 Google+ 的经验")
      mixin post("130512-gnome-extension", "关于 GNOME3 插件开发的想法")
      mixin link("http://www.douban.com/group/topic/39211659/", "心态和想法")
      mixin post("130512-my-page-tools", "我的页面调试工具")
      mixin post("130502-what-to-read", "到哪里找阅读的资源")
      mixin post("130429-配置-IBus-Fcitx-输入法", "配置-IBus-Fcitx-输入法")
      mixin post("130427-缺失的技术和交流方式", "缺失的技术, 缺失的交流方式")
      mixin link("https://github.com/coffee-js/languages/issues/56", '关于文章 "How To Become A Hacker"')
      mixin post("130421-browserify-入门笔记", "browserify-入门笔记")
      mixin post("130421-Bower-Grunt-入门笔记", "Bower-Grunt-入门笔记")
      mixin post("130414-键盘和-Sublime-配置", "键盘和-Sublime-配置")
      mixin post("130401-css-flexbox-布局", "css-flexbox-布局")
      mixin link("http://jiyinyiyong.lofter.com/post/19ab57_50972a", "在用的 gnome-shell 插件")
      mixin post("130331-Arch-Monaco-字体", "Arch-Monaco-字体")
      mixin post("130329-做不到的事", "做不到的事")
      mixin link("https://github.com/jiyinyiyong/cirru-eval/issues/4", "树状的代码")
      mixin link("https://github.com/jiyinyiyong/rain-boots/issues/2", "模块和使用方面的规划")
      mixin link("https://github.com/jiyinyiyong/cirru-eval/issues/4", "树状的代码")
      mixin post("130309-重新启用博客", "重新启用博客")
      mixin post("130731-arch-second-log", "第二轮装 Arch... 把用到的几个链接放在这里")
      mixin link("https://github.com/jiyinyiyong/blog2/issues/3", "Sublime 写语法高亮一点尝试")
      mixin link("https://github.com/jiyinyiyong/blog2/issues/2", "关于 Sublime 的一些笔记")
      mixin link("http://www.douban.com/group/topic/37157568/", "简单")
      mixin link("https://github.com/Bodule/Bodule/issues/6", "Component + SourceMaps 的模块化方案前景怎样?")
      mixin link("https://github.com/jiyinyiyong/metro-wm-concept/issues/1", "为什么 Metro 风格我认为适合 Linux")
      mixin link("https://github.com/jiyinyiyong/banyan/issues/1", "一个不切实际的前端模块化方案")
      mixin link("https://github.com/jiyinyiyong/cirru-eval/issues/3", "为什么我讨厌括号")
      mixin link("https://github.com/jiyinyiyong/cirru-eval/issues/2", "函数不是最基础的语法")
      mixin link("https://github.com/jiyinyiyong/cirru-eval/issues/1", "Cirru 语法的思考")
      div Year 2012
      mixin post("120919-关于学习的观点", "关于学习的观点")
      mixin post("120915-还不会的语法解析", "还不会的语法解析")
      mixin post("120915-ssh-config-配置等等", "ssh-config-配置等等")
      mixin post("120910-安装-Arch", "安装-Arch")
      mixin post("120904-并行的时间", "并行的时间")
      mixin post("120901-字符串作为要素", "字符串作为要素")
      mixin post("120831-用来玩耍的桌面", "用来玩耍的桌面")
      mixin post("120829-dataURL-传输文件", "dataURL-传输文件")
      mixin post("120829-寻找漂亮的语言", "寻找漂亮的语言")
      mixin post("120823-模式匹配和对象的想法", "模式匹配和对象的想法")
      mixin post("120821-doodle-刷新页面", "doodle-刷新页面")
      mixin post("120811-重写聊天应用的感想", "重写聊天应用的感想")
      mixin post("120806-参考-coffee-设想语法", "参考-coffee-设想语法")
      mixin post("120805-OAuth-登录-Github-及微博", "OAuth-登录-Github-及微博")
      mixin post("120804-VPS-Node-应用配置", "VPS-Node-应用配置")
      mixin post("120728-IP-地址记录", "IP-地址记录")
      mixin post("120725-里坊-网页的嵌套", "里坊-网页的嵌套")
      mixin post("120720-未来的灯市", "未来的灯市")
      mixin post("120715-重装-Ubuntu-记录", "重装-Ubuntu-记录")
      mixin post("120714-Cirru-可能的遐想", "Cirru-可能的遐想")
      mixin post("120712-用网络来沟通的构思", "用网络来沟通的构思")
      mixin post("120709-Cirru-编辑器的重写", "Cirru-编辑器的重写")
      mixin post("120624-开始学-Clojure-的模块机制", "开始学-Clojure-的模块机制")
      mixin post("120623-暑假前关于编程和学习的想法", "暑假前关于编程和学习的想法")
      mixin post("120615-关于这个博客和柳线", "关于这个博客和柳线")

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41753901-1', 'jiyinyiyong.github.io');
    ga('send', 'pageview');
