
*
  box-sizing border-box

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsl(0,90,95)

::-webkit-scrollbar-thumb
  background hsl(0,50,80)
  border-radius 2px

body
  margin 0px
  font-family Marcellus

#about
  position fixed
  width 400px
  font-size 16px
  padding 100px 20px

#list
  position absolute
  left 300px
  width 600px
  padding 40px 40px 400px

  div
    margin 10px 0px

  a
    display block
    line-height 30px
    text-decoration none
    margin-left 20px