* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #242424;
}
::-webkit-scrollbar-thumb {
  background: #fff;
}
@font-face {
  font-family: 'Marcellus';
  font-style: normal;
  font-weight: 400;
  src: url("Marcellus.woff"), local('Marcellus-Regular');
}
body {
  margin: 0px;
  font-family: Marcellus, "wenquanyi micro hei";
  color: #999;
}
a {
  display: block;
  color: #999;
  text-decoration: none;
  box-shadow: 0px 1px 0px rgba(128,128,128,0);
  padding-left: 100px;
  line-height: 36px;
  margin-left: 60px;
  -webkit-transition-duration: 0.8s;
}
a:hover {
  -webkit-transition-duration: 0.4s;
  box-shadow: 0px 1px 0px #808080;
}
#background {
  position: fixed;
  width: 100%;
  height: 50%;
  bottom: 0px;
  background-color: #242424;
}
#about {
  position: fixed;
  width: 200px;
  font-size: 16px;
  padding: 40px;
  bottom: 50%;
}
#list {
  position: absolute;
  left: 220px;
  width: 800px;
  padding: 240px 40px 400px;
}
#list div {
  margin: 10px 0px;
}
