
*
  box-sizing border-box

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsl(0,0,14)

::-webkit-scrollbar-thumb
  background white
  border-radius 4px

@font-face
  font-family 'Marcellus'
  font-style normal
  font-weight 400
  src url('Marcellus.woff'), local('Marcellus-Regular')

body
  margin 0px
  font-family Marcellus, "wenquanyi micro hei"
  background-color hsl(0,0,14)

font-color = hsla(0,0,70,1)

a
  display block
  text-decoration none
  color font-color
  box-shadow 0px 1px 0px hsla(0,0,0,0)
  line-height 36px
  -webkit-transition-duration 0.4s
  padding-left 160px
  margin-left 40px

  &:hover
    box-shadow 0px 1px 0px font-color

#background
  position fixed
  width 400px
  height 100%
  bottom 0px
  background-color hsl(0,0,98)

#about
  position fixed
  width 200px
  font-size 16px
  top 20%
  padding 40px

#list
  position absolute
  left 200px
  width 800px
  padding 240px 40px 400px

  div
    margin 10px 0px