* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #242424;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 2px;
}
html {
  background: #242424;
  color: #242424;
}
@font-face {
  font-family: 'Marcellus';
  font-style: normal;
  font-weight: 400;
  src: url("Marcellus.woff"), local('Marcellus-Regular');
}
body {
  background: #fafafa;
  width: 800px;
  margin: 0px;
  padding: 40px;
  font-family: Marcellus, 'wenquanyi micro hei';
  line-height: 30px;
}
::selection {
  background: #404040;
  color: #fff;
}
hr {
  border-width: 0px 0px 1px 0px;
  border-color: #cdc1c1;
  margin: 49px 0px;
  width: 61%;
}
.home {
  position: fixed;
  left: 934px;
  top: 60px;
}
.home a {
  font-size: 20px;
  font-family: Marcellus, "wenquanyi micro hei";
  color: #b3b3b3;
}
a {
  text-decoration: none;
  color: #00f;
  display: inline-block;
  max-height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: monaco, consolas, monospace;
  color: #a3a3f5;
}
.article {
  margin: 100px 0px 200px;
}
.article ::-webkit-scrollbar-track {
  background: #fff;
}
.article ::-webkit-scrollbar-thumb {
  background: #242424;
}
p {
  margin: 0px;
  padding: 16px 0px;
}
p code,
pre {
  box-shadow: 0px 0px 4px #ccc;
  font-family: monaco, consolas, monospace;
  font-size: 14px;
  padding: 0px 4px;
  overflow-x: auto;
}
blockquote {
  box-shadow: 0px 0px 6px #ccc;
  padding: 0px 10px;
  color: #808080;
}
h1,
h2,
h3 {
  margin-top: 50px;
}
