
*
  box-sizing border-box

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsl(0,0,14)

::-webkit-scrollbar-thumb
  background white
  border-radius 2px

html
  background hsl(0,0,14)
  color hsl(0,0,14)
  
@font-face
  font-family 'Marcellus'
  font-style normal
  font-weight 400
  src url('Marcellus.woff'), local('Marcellus-Regular')

body
  background hsl(0,0,98)
  width 840px
  margin 0px
  padding 40px
  font-family Marcellus, 'wenquanyi micro hei'
  line-height 30px

::selection
  background hsl(0,0,25)
  color white

hr
  border-width 0px 0px 1px 0px
  border-color hsl(0, 11%, 78%)
  margin 49px 0px
  width 61%
  
.home
  position fixed
  left 934px
  top 60px

  a
    font-size 20px
    font-family Marcellus, "wenquanyi micro hei"
    color hsl(0,0,70)

a
  text-decoration none
  color blue
  display inline-block
  max-height 30px
  max-width 660px
  text-overflow ellipsis
  overflow hidden
  color hsl(240,80,80)

.article
  margin 100px 0px 200px
  
  ::-webkit-scrollbar-track
    background white

  ::-webkit-scrollbar-thumb
    background hsl(0,0,14)

p
  margin 0px
  padding 16px 0px

p code, pre
  box-shadow 0px 0px 4px hsl(0,0,80)
  font-family monaco, consolas, monospace
  font-size 14px
  padding 0px 4px
  overflow-x auto

blockquote
  box-shadow 0px 0px 6px hsl(0,0,80)
  padding 0px 10px
  color hsl(0,0,50)

h1, h2, h3
  margin-top 50px
