
*
  box-sizing border-box

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsl(0,0,14)

::-webkit-scrollbar-thumb
  background white
  border-radius 2px

html
  background hsl(0,0,14)
  color hsl(0,0,14)
  
@font-face
  font-family 'Marcellus'
  font-style normal
  font-weight 400
  src url('Marcellus.woff'), local('Marcellus-Regular')

body
  background hsl(0,0,98)
  width 1060px
  margin 0px auto
  padding 50px
  font-family Marcellus, 'wenquanyi micro hei'
  line-height 30px

::selection
  background hsl(0,0,25)
  color white

.home
  font-size 20px

a
  text-decoration none
  color blue

.article
  margin 100px 0px 200px

p
  margin 0px
  padding 16px 0px

p code, pre
  box-shadow 0px 0px 4px hsl(0,0,80)
  font-family monaco, consolas, monospace
  font-size 14px
  padding 0px 4px

blockquote
  box-shadow 0px 0px 6px hsl(0,0,80)
  padding 0px 10px
  color hsl(0,0,50)

h1, h2, h3
  margin-top 50px