
*
  box-sizing border-box

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsl(0,90,95)

::-webkit-scrollbar-thumb
  background hsl(0,50,80)
  border-radius 2px

html
  background hsl(0,0,94)
  
body
  background hsl(0,0,97)
  width 960px
  margin 0px auto
  padding 30px
  font-family Marcellus
  line-height 30px

.home
  font-size 20px

a
  text-decoration none
  color blue

.article
  margin 100px 0px 200px

p
  margin 0px
  padding 10px 0px

p code, pre
  box-shadow 0px 0px 4px hsl(0,0,80)
  font-family monaco
  font-size 14px

blockquote
  box-shadow 0px 0px 6px hsl(0,0,80)
  padding 0px 10px
  color hsl(0,0,50)

h1, h2, h3
  margin-top 50px